body{
  /* background-image: url("../image/milky.jpg"); */
  background-size:cover ;
  background-repeat: ;
  background-attachment: fixed;
}
.start{
  background-image: url("../image/smoky.jpg");
  border-radius: 50px;
  height: 70px;
  text-align: center;
  color: green;
  padding-top: 10px;
  font-family: fantasy;
  opacity: ;
}

.projects{
  float: right;
  width: 50%;
  color: black;
  border-radius: 70px;
  clear: both;
}
/* .Projects ul,li ,a {
  text-decoration: none;
  color
} */
h2 {
  text-align: center;
}
img{
  padding-left: 15%;
  padding-bottom: 5%;
}

.projects a {
  text-decoration: none;
}
