body{
  word-spacing: 0.9px;
  line-height:18px;
  background-color: #05386B;
}

.start{
  background-image: url("../image/smoky.jpg");
  border-radius: 50px;
  height: 70px;
  padding-top: 10px;
}

.start h1{
  text-align: center;
  color: green;
  font-family: fantasy;
}

.projects{
  float: right;
  width: 50%;
  color: black;
  border-radius: 70px;
  clear: both;
}

.projects h3 {
  color: crimson;
}

.Evening{
  color: green;
  font-style: italic;
  font-weight: bold;
}

.Readmore{
  color:#D79922;
}

h2 {
  text-align: center;
}

img{
  padding-left: 15%;
  padding-bottom: 5%;
}

.projects a {
  text-decoration: none;
}

.MyBio{
  margin-left: 1%;
}
